
.box {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   list-style: none;
   position: relative;

   .sidebar-box {
      width: 150px;
      position: absolute;
      height: 615px;
      background: #fff;
      z-index: 12;
      right: 0;
      top: 1000px;
      font-size: 20px;
      text-align: center;
      border-radius: 10px 0px 0px 10px;
      box-shadow: darkgrey 0px 0px 10px 0px; // 边框阴影

      div {
         margin: 30px 0px;

         .sidebaer-div-1 {
            width: 60px;
            height: 60px;
            background: red;
            margin: auto;
         }
      }
   }

   a {
      color: #333;
      text-decoration: none;
   }

   .header-top {
      width: 100%;
      margin: auto;
      height: 48px;
      line-height: 48px;
      background: #274439;

      .header-row-left {
         display: flex;

         .header-row-he {
            width: 20px;
            height: 20px;
            background: #eee;
            line-height: 20px;
            position: relative;
            top: 15px;
            text-align: center;
         }

         .header-row-font {
            margin-left: 10px;
         }
      }

      .header-row-right {
         display: flex;

         div {
            flex: 1;
            color: #fff;
            text-align: center;
            a{
               color #fff
            }
         }
      }
   }

   .header-bottom {
      width: 100%;
      height: 90px;
      margin: auto;
      background: #F6F6F6;
      line-height: 90px;
      display: flex;
      position: relative;
      // border:2px solid darkslategray;
      box-shadow: darkgrey 0px 0px 10px 0px; // 边框阴影

      .header-bottom-right {
         width: 94%;
         height: 100%;
         position: relative;

         .header-top-list {
            div {
            width: 190px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            background: #5C5C5C;
            margin: 22px 14px;
            }
         }

         .header-bottom-list {
            display: flex;

            div {
               flex: 1;
               text-align: center;

               .celect {
                  width: auto;
                  padding: 2px 2px;
                  color: #40916C;
                  text-decoration: none;
                  border-bottom: 2px solid #40916C;
               }
            }
         }
      }
   }

   .header-bottom-left {
      position: absolute;
      right: 0;
      width: 6%;
      height: 90px;
      background: #73C153;

      .bootom-left-he {
         // width: 20px;
         // height: 20px;
         // position: absolute;
         // top: 0;
         // bottom: 0;
         // left: 0;
         // right: 0;
         // margin: auto;
      }
   }

   .slideshow {
      width: 100%;
      height: 702px;

      .slideshow-box {
         width: 100%;
         height: 702px;

         .slideshow-item {
            position: relative;

            .shideshow-font {
               width: auto;
               height: 500px;
               position: absolute;
               color: #fff;
               left: 30%;
               top: 200px;

               .jhs-xy {
                  display: flex;

                  .xy-1 {
                     font-size: 40px;
                  }

                  .xy-2 {
                     font-size: 65px;
                     letter-spacing: 10px;
                     line-height: 120px;
                     text-indent: 30px;
                  }
               }

               .y-font2 {
                  font-size: 31px;
                  letter-spacing: 21px;
               }

               .y-font3 {
                  font-size: 30px;
                  margin: 28px 10px;
                  text-align: center;
               }

               .y-font4 {
                  display: flex;

                  p {
                     width: 47%;
                     background: rgba(0, 0, 0, 0);
                     border-radius: 8px;
                     height: 48px;
                     text-align: center;
                     line-height: 48px;
                     margin: 30px 20px 0px 0px;
                  }
               }
            }
         }

         .shlieshow-font {
            display: flex;

            .shieshow-font-1 {
            }
         }

         .el-carousel__container {
            width: 100%;
            height: 702px;

            .el-carousel__arrow {
               width: 60px;
               height: 60px;
               background: #274439;
            }
         }

         img {
            width: 100%;
            height: 100%;
         }
      }
   }

   .conter-sliver {
      width: 100%;
      height: 88px;
      background: #73C153;

      .conter-sliver-jz {
         width: 70%;
         height: 100%;
         margin: auto;

         .conter-sliver-list {
            // width: 100%;
            height: 100%;
            display: flex;

            .conter-box {
               width: 25%;
               height: 100%;
               display: flex;
               align-items: center;
               justify-content: center;

               // margin: auto 0px;
               .conter-fangkuai {
                  div {
                     width: 60px;
                     height: 60px;
                     border-radius: 50%;
                     background: #D8D8D8;
                     margin-right: 20px;
                  }
               }

               .conter-font {
                  color: #fff;

                  .conter-font-1 {
                     font-size: 28px;
                  }

                  .conter-font-2 {
                     font-size: 20px;
                  }
               }
            }
         }
      }
   }

   h1 {
      margin-top: 50px;
      text-align: center;
      font-size: 30px;
   }

   // .precistion-font {
   // font-size: 30px
   // }
   .ol {
      // position: relative;
      // top: 110px;
      width: 360px;
      height: 60px;
      display: flex;
      margin: 80px auto 0px;

      .ol-li-1 {
         background: #2D6A4F;
         color: #fff;
      }

      div {
         width: 120px;
         height: 60px;
         line-height: 60px;
         list-style: none;
         text-align: center;
         background: #D8f3Dc;
      }
   }

   .sYolan-box {
      width: 100%;
      height: auto;
      background: #F6F6F6;

      .sYolan-h1 {
         text-align: center;
         font-size: 30px;
         padding: 40px 0px;

         span {
            color: #73C153;
         }
      }

      .message-box {
         width: 70%;
         height: 450px;
         margin: 20px auto 0px;
         display: flex;

         .message-box-list {
            width: 320px;
            height: 300px;
            margin-left: 10px;
            margin-right: 10px;

            .message-box-1 {
               width: 100%;
               height: 300px;
               color: #fff;
               background: #515151FF;

               .messages-font1 {
                  li {
                     color: #ff;
                  }
               }

               .messages-font2 {
                  display: flex;
                  margin-left: 50px;

                  p {
                     font-size: 23px;
                     margin-right: 10px;
                     line-height: 27px;
                     margin-top: 20px;
                     position: relative;
                     top: 10px;
                  }
               }

               .messages-font1 {
                  margin-left: 30px;

                  li {
                     line-height: 27px;
                  }
               }

               .messages-font3 {
                  margin-left: 50px;
                  font-size: 30px;
                  color: #FDE6AD;

                  span {
                     font-size: 20px;
                     color: #fff;
                  }
               }

               .messages-font4 {
                  margin-left: 50px;
                  width: 70%;
                  height: 3px;
                  border: 2px solid #fff;
               }
            }

            .message-box-2 {
               width: 100%;
               height: 130px;
               background: #fff;
               position: relative;

               .message-1 {
                  font-style: normal;
                  text-align: center;
                  line-height: 60px;
                  font-size: 22px;
                  color: #2D6A4F;
               }

               .message-2 {
                  width: 104px;
                  height: 35px;
                  text-align: center;
                  border: 1px solid #2D6A4F;
                  line-height: 35px;
                  color: #2D6A4F;
                  margin: 18px auto 0px;
                  font-size: 20 px;
               }
            }
         }
      }

      .message-list {
         width: 70%;
         margin: auto;
         display: flex;
         justify-content: center;

         div {
            width: 60px;
            height: 8px;
            margin: 0px 2px 30px;
            // background: #40916C;
            background: #73C69D;
         }
      }
   }

   .shortly-h1 {
      margin-top: 40px;
      margin-bottom: 80px;
      font-family: solid;
   }

   .model-khz-box {
      width: 100%;
      height: auto;
      position: relative;
      background: #D8D8D8;

      img {
         width: 100%;
         height: 100%;
         position: absolute;
      }

      .model-khz {
         width: 70%;
         margin: auto;
         height: 388px;
         background: #D8D8D8;
         display: flex;

         .model-v {
            width: 320px;
            height: 280px;
            z-index: 1;
            background: rgba(0, 0, 0, 0.3);
            margin: auto 10px;
            color: #fff;

            .model-2020 {
               font-size: 50px;
               margin: 50px 0px;
               text-align: center;
            }

            .model-font {
               p {
                  text-align: center;
                  font-size: 20px;
               }
            }
         }
      }
   }

   .precistion-font {
      span {
         color: #40916CFF;
      }
   }

   .mode1-equity-box {
      width: 100%;
      height: auto;
      padding: 20px 0px 20px;

      .model-rz {
         width: 70%;
         margin: auto;
         display: flex;
         margin-top: 80px;

         .model-rz-v {
            width: 320px;
            height: 210px;
            margin: 10px 10px;
            box-shadow: darkgrey 0px 0px 10px 0px; // 边框阴影
            background: #ffff;
            position: relative;

            .model-model {
               position: absolute;
               bottom: 0;
               margin: 10px 10px;

               .re-v1 {
                  display: flex;

                  p {
                     font-size: 22px;
                     margin: 20px 0px;
                  }
               }

               .re-v2 {
                  width: 300;
                  display: flex;
                  height: 6px;
                  padding: 20px 10px;
                  font-size: 10px;

                  .re-v-p1 {
                     width: 110px;
                     height: 6px;
                     background: #40916C;
                  }

                  .re-v-p2 {
                     width: 190px;
                     height: 6px;
                     background: #CEECD9;
                  }
               }

               .re-v3 {
                  margin: 20px 8px;

                  span {
                     font-size: 10px;
                  }
               }
            }
         }
      }

      .model-top-font {
         width: 236px;
         height: 60px;
         margin: 78px auto 40px;
         font-size: 20px;
         border: 3px solid #40916C;
         text-align: center;
         line-height: 60px;
         color: #40916C;
      }
   }

   .team-box {
      position: relative;
      width: 100%;
      height: 798px;
      background: #D8D8D8;

      .team-h1 {
         padding-top: 50px;
         padding-bottom: 80px;
         text-align: center;
         font-size: 30px;
         color: #D8F3DC;
         font-family: PingFangSC-Semibold, PingFang SC;

         span {
            color: #40916C;
         }
      }

      .team-slideshow {
         width: 70%;
         // height 300px
         margin: auto;
         display: flex;

         .team-box {
            width: 320px;
            height: 388px;
            margin: auto 10px;
            border-radius: 10px;
            background: #fff;

            .team-1 {
               width: 100px;
               height: 100px;
               background: #fff;
               border-radius: 50%;
               margin: 30px auto 0px;
               overflow: hidden;

               img {
                  width: 100%;
                  height: 100%;
               }
            }

            .team-2 {
               font-size: 24px;
               text-align: center;
               margin: 18px auto;
               color: #1B4332;
               font-family: bold;
            }

            .team-3 {
               margin: 60px 32px;
               font-size: 15px;
            }
         }
      }

      .team-ison {
         width: 200px;
         height: 6px;
         margin: auto;
         display: flex;
         margin: auto;

         div {
            width: 40px;
            height: 6px;
            margin: 59px 2px 104px 2px;
            background: #1B4333;
         }
      }

      .team-ison-show {
         margin: 130px auto 40px;
         width: 320px;
         height: 60px;
         border: 2px solid #95FCC9FF;
         line-height: 60px;
         text-align: center;
         color: #fff;
         font-size: 20px;
      }
   }

   .shortly-1130 {
      width: 1130px;
      height: 200px;
      margin: auto;
      background: #D8D8D8;
      display: flex;

      .shortly-box {
         width: 150px;
         height: 150px;
         border-radius: 50%;
         background: #40916C;
         margin: auto 40px;
         border: 10px solid #D8F3DC;
      }

      .shortly-font {
         margin: auto 20px;

         .shortly-p1 {
            font-size: 28px;
            color: #40916C;
         }

         .shortly-p2 {
            font-size: 19px;
            font-family: solid;
         }
      }
   }

   .shorty-xyd {
      justify-content: center;
      display: flex;

      p {
         width: 65px;
         height: 65px;
         margin-left: 19px;
         margin-right: 19px;
         margin-top: 40px;
         border-radius: 50%;
         background: #52B788;
      }
   }

   .shorty-top {
      width: 224px;
      height: 60px;
      border: 2px solid #40916C;
      text-align: center;
      line-height: 60px;
      margin: 28px auto;
   }

   .special-box {
      width: 100%;
      height: 350px;
      background: #D8D8D8;

      .special-h1 {
         padding-top: 25px;
         padding-bottom: 40px;
      }

      .special-list {
         width: 70%;
         height: 65px;
         justify-content: center;
         margin: auto;
         display: flex;

         div {
            width: 320px;
            height: 150px;
            margin-left: 5px;
            margin-right: 5px;
            background: #fff;
         }
      }

      .special-cfx {
         width: auto;
         height: 3px;
         display: flex;
         justify-content: center;

         p {
            width: 35px;
            height: 6px;
            background: #747474;
            margin: 130px 3px;
         }
      }
   }

   .food-model {
      width: 100%;
      height: auto;
      position: relative;

      img {
         position: absolute;
         width: 100%;
         height: 100%;
      }

      .food-font {
         text-align: center;
         padding: 25px 0px 40px 0px;
         font-size: 30px;
         color: #D8F3DC;

         span {
            color: #40916C;
         }
      }

      .food-list {
         width: 71%;
         margin: auto;
         display: flex;

         .food-p {
            width: 320px;
            text-align: center;
            z-index: 1;
            height: 280px;
            margin: 0px 10px;
            background: rgba(0, 0, 0, 0.2);
            color: #fff;

            .food-p-1 {
               font-size: 15px;
               margin: 60px 0px;
            }

            .food-p-2 {
               margin: 0px 78px;
            }
         }
      }

      .food-xkgd {
         width: 120px;
         height: 60px;
         border: 1px solid #95FCC9;
         line-height: 60px;
         margin: 25px auto;
         font-size: 15px;
         text-align: center;
      }
   }
}
