.login-model {
    width: 100%;
    height: 702px;
    position: relative;

    .celect {
        border-bottom: 2px solid #333;
        background: red;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .login-zx {
        position: absolute;
        width: 540px;
        height: 548px;
        z-index: 1;
        border-radius: 8px;
        margin-left: 690px;
        margin-top: 119px;
        background: #fff;
        box-shadow: darkgrey 0px 0px 10px 0px; // 边框阴影

        .login-model {
            width: 70%;
            height: 300px;
            margin: 30px auto 0px;

            .tab-one {
                float: left;
                width: 100%;
                height: 50px;
                line-height: 50px;
                background: red;

                div {
                    float: left;
                    width: 20%;
                    height: 100%;

                    .div-two-span {
                        width: 100px;
                        height: 50px;
                        background: red;
                        text-align: right;
                    }

                    .tab_content {
                        width: 100%;
                        height: 50px;
                        background: red
                        .tab-div {
                            width: 100%;
                            height: 50px;
                            background: #ff0099;
                            .div-input {
                                width: 100%;
                                height: 90px;
                            }
                        }
                    }
                }
            }
        }
    }
}
